{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock title %}

{% block body %}
<div class="container">
    <div class="d-grid gap-2 col-lg-6 mx-auto" style="height: 65vh;">
        <h1 class="my-4 mx-auto">Forgot Password</h1>
        <form action="/updatePassword" method="POST">
            {% csrf_token %}
            <div class="row mb-4">
                <div class="col-8">
                    <input type="text" id="forgot_pass_email" value="{{email}}" name="forgot_pass_email"
                        class="form-control" placeholder="Email" aria-label="Email">
                </div>
                <div class="col-4">
                    <div class="d-grid gap-2 col-12 mx-auto">
                        <button type="button" id="sendotp_button" class="btn btn-success" onclick="sendOTP()">
                            Send OTP
                        </button>
                    </div>
                </div>
            </div>
            <input type="text" class="form-control mb-4" maxlength="6" style="text-transform: uppercase;" id="otp"
                name="otp" placeholder="Enter Sent OTP" aria-label="Enter Sent OTP">
            <input type="hidden" name="otpid" value="">
            <input type="password" class="form-control mb-4" id="forgot_pass_newpass" name="forgot_pass_newpass"
                placeholder="Enter New Password" aria-label="Enter New Password">
            <input type="password" class="form-control mb-4" id="forgot_pass_confpass" name="forgot_pass_confpass"
                placeholder="Confirm new Password" aria-label="Confirm new Password">

            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-success" type="submit">
                    Set New Password
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}

{% block js %}
<script>
    function string_to_slug(str) {
        str = str.replace(/^\s+|\s+$/g, ''); // trim
        str = str.toLowerCase();

        // remove accents, swap ñ for n, etc
        var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
        var to = "aaaaeeeeiiiioooouuuunc------";
        for (var i = 0, l = from.length; i < l; i++) {
            str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
        }

        str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
            .replace(/\s+/g, '-') // collapse whitespace and replace by -
            .replace(/-+/g, '-'); // collapse dashes

        return str;
    }

    function updatePopover(cart) {
        var popStr = "<div class='mx-2'>";
        var i = 0;
        for (var item in cart) {
            i += 1;
            var pid = item.slice(2,);
            slug = string_to_slug(cart[item][0]);
            popStr += "<b>" + i + " </b>";
            popStr += `<a href="/product/${slug}">${cart[item][0].slice(0, 15)}</a> ... &#8377; ${cart[item][1]}<br>`;
        }
        popStr += "</div><br><a href='/checkout' class='btn btn-success' id ='checkout'>Checkout</a>";
        document.getElementById('popcart').setAttribute('data-bs-content', popStr);
        document.getElementById('cart-badge').innerHTML = i;
    }

    function clearCart() {
        console.log("clearing");
        document.getElementById('clearCartSpan').innerHTML = "";
        document.getElementById("popcart").setAttribute('data-bs-content', '<h5>Cart Empty</h5>');
        localStorage.clear();
    }

    if (localStorage.getItem('cart') == undefined || localStorage.getItem('cart') == null || localStorage.getItem('cart') == "{}") {
        document.getElementById('cart-badge').innerHTML = 0;
        document.getElementById("popcart").setAttribute('data-bs-content', '<h5>Cart Empty</h5>');
        document.getElementById('clearCartSpan').innerHTML = "";
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
        console.log("cart ", cart);
        updatePopover(cart);
        document.getElementById('clearCartSpan').innerHTML = "<a href='' class='btn btn-outline-danger' id='clear' onclick='clearCart()'>Clear Cart</a>";
    }

    function sendOTP() {
        console.log("Account updating");
        console.log($('input[name=forgot_pass_email]').val());
        console.log($('input[name=csrfmiddlewaretoken]').val());

        var formData = {
            'emailid': $('input[name=forgot_pass_email]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        };
        console.log(formData);
        document.getElementById("sendotp_button").innerText = "Sending OTP...";
        $.ajax({
            type: "POST",
            url: "/sendOTP",
            data: formData,
            encode: true
        })
            .done(function (data) {
                // Do this when done
                otpid = data['id'];
                console.log(otpid);
                document.getElementById("otpid").value = otpid;
                document.getElementById("sendotp_button").innerText = "Resend OTP";
            });
        event.preventDefault();
    }
</script>
{% endblock js %}